{% extends "base.html" %}

{% block title %}
პროდუცტის შექმნა
{% endblock %}

{% block body %}
<div class="row m-2 p-2">
    <form method="post" enctype="multipart/form-data" class="col">
       <div class="row">
           {% for errors in form.errors.values() %}
           <div class="alert alert-danger">
                {% for error in errors %}
               {{ error}}
               <br> </div>
               {% endfor %}
               {% endfor %}
       </div>


        {{ form.hidden_tag()}}
        <div class="row">
            {{ form.img.label}} {{ form.img }}
        </div>
        <div class="row mt-2">
            {{ form.name(class="form-control", placeholder=form.name.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.price(class="form-control", placeholder=form.price.label.text) }}
        <div class="row mt-2">
            {{ form.submit (class= "btn btn-primary") }}
         </div>

        </div>
    </form>
</div>

{% endblock %}