{% extends "base.html" %}

{% block title %}
Main Page
{% endblock %}


{% block body %}

<div class="row mt-2">
    {% for product in products %}
    <div class="col-md-3 mb-4 d-flex align-items-stretch">
        <div class="card" style="width: 12rem;">
            <img src="{{ url_for('static', filename='images/' + product['img']) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text">{{ product['price'] }}₾</h5>
                <p class="card-title">{{ product['name'] }}</p>
                <a href="/product_detail/{{ product['id'] }}" target="_blank" class="btn btn-warning">ნახვა</a>
                {% if current_user.is_authenticated %}
                <a href="/edit_product/{{product['id']}}" target="_blank" class="btn btn-info">რედაქტირება</a>
                <a href="/delete_product/{{product['id']}}" target="_blank" class="btn btn-danger">პროდუქტის წაშლა</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}